.card-image{
  border: 5px solid #ff9c63;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  transform: translateY(-50px);
}
.services-container .card:hover{
  background: linear-gradient(75deg, #ff9c63,#6c63ff);
  color: #fff !important;
  transition:  1s  all ease-in-out !important;
}
.services-container .card:hover .card-body{
  background-image: url(../../images/music.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 30%;
}
.services-container{
  background-size: cover;
  z-index: 1;
  position:relative;
}
.services-container::before{
  position: absolute;
  content: "";
  top:0;
  width: 100%;
  height: 100%;
  opacity: .9;
  z-index: -1;
}