.testimonials{
  background-color: #f1ddd7;
  background-size: cover;
}
.testimonials .card{
  border-color: transparent;
}

.testimonials .card .card-footer{
  background: transparent;
  border: 0;
}
@media screen and (max-width: 668px) {
  .card-footer img{
    width: 30px;
  height: 30px;
  margin: 0;
  }
  .card-footer{
    width: 100%;
  }
}