.text-styleA{
  color:#6c63ff;
}
.text-styleB{
  color:#ff9c63;
}
.button{
  background-color: #ff9c63;
  border: none;
}
#pending{
  color:red;
}
#ongoing{
  color: goldenrod;
}
#done{
  color:green;
}